body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f8fafc;
}

.page {
  text-align: center;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #3b82f6, #06b6d4);
  color: white;
  margin-left: -150px;
  margin-right: -144px;
  padding: 80px 20px 100px;
}

.badge {
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.hero h1 {
  font-size: 56px;
  margin: 0;
  font-weight: bold;
  line-height: 0.8;
}

.hero p {
  margin-top: 20px;
  font-size: 18px;
  opacity: 0.9;
  width: 50vw;
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
}

/* UPLOAD CARD */
.upload-card {
  width: 500px;
  margin: -80px auto 40px;
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.upload-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.upload-card h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #111827;
}

.subtext {
  color: #8f92ad;
  margin-bottom: 20px;
}

.file-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #0f172a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.file-btn:hover {
  opacity: 0.9;
}

.file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #374151;
}

.generate-btn {
  display: block;
  margin: 25px auto 0;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.generate-btn:hover {
  background: #2563eb;
}